.drop-container {
    /* centering the drop box */
    margin: 0 auto;

    border: 2px dashed #ccc;
    border-radius: 5px;
    
    text-align: center;
    cursor: pointer;
    max-width: 800px;
}

.divider {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color:#1DB954;
    color: var(--text-light);
    font-weight: 600;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    button {
        color: var(--text-dark);
    }
}